## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_2_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_2_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country
0,0,New Norfolk,-42.7826,147.0587,66.65,45,11,1.99,few clouds,AU
1,1,Atuona,-9.8000,-139.0333,78.75,74,9,15.21,clear sky,PF
2,2,Saint-Francois,46.4154,3.9054,40.68,81,100,6.91,overcast clouds,FR
3,3,Okhotsk,59.3833,143.3000,2.71,74,76,17.94,broken clouds,RU
4,4,Fortuna,40.5982,-124.1573,59.18,69,0,4.00,clear sky,US

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_2_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_2_df.loc[(city_data_2_df["Max Temp"] <= max_temp) & \
                                       (city_data_2_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country
1,1,Atuona,-9.8000,-139.0333,78.75,74,9,15.21,clear sky,PF
6,6,Luwuk,-0.9516,122.7875,78.87,74,100,3.11,overcast clouds,ID
11,11,Rikitea,-23.1203,-134.9692,77.72,75,100,16.71,light rain,PF
17,17,Vaini,-21.2000,-175.2000,86.16,79,40,8.05,scattered clouds,TO
19,19,Sabang,5.8933,95.3214,81.93,70,31,9.31,scattered clouds,ID
22,22,Avarua,-21.2078,-159.7750,84.25,74,20,18.41,few clouds,CK
24,24,Geraldton,-28.7667,114.6000,84.13,21,0,4.61,clear sky,AU
25,25,Hilo,19.7297,-155.0900,80.33,68,0,6.91,clear sky,US
29,29,Cabo Rojo,18.0866,-67.1457,78.67,88,61,1.01,broken clouds,PR
45,45,Bathsheba,13.2167,-59.5167,77.61,65,20,13.80,few clouds,BB

In [5]:
# 4a. Determine if there are any empty rows.
# preferred_cities_df.count()
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 1 to 701
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              155 non-null    int64
 1   City                 155 non-null    object
 2   Lat                  155 non-null    float64
 3   Lng                  155 non-null    float64
 4   Max Temp             155 non-null    float64
 5   Humidity             155 non-null    int64
 6   Cloudiness           155 non-null    int64
 7   Wind Speed           155 non-null    float64
 8   Weather Description  155 non-null    object
 9   Country              154 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 13.3+ KB

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# dropna()
preferred_cities_clean_df = preferred_cities_df.dropna()
preferred_cities_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 1 to 701
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              154 non-null    int64
 1   City                 154 non-null    object
 2   Lat                  154 non-null    float64
 3   Lng                  154 non-null    float64
 4   Max Temp             154 non-null    float64
 5   Humidity             154 non-null    int64
 6   Cloudiness           154 non-null    int64
 7   Wind Speed           154 non-null    float64
 8   Weather Description  154 non-null    object
 9   Country              154 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 13.2+ KB

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Atuona,PF,78.75,clear sky,-9.8000,-139.0333,
6,Luwuk,ID,78.87,overcast clouds,-0.9516,122.7875,
11,Rikitea,PF,77.72,light rain,-23.1203,-134.9692,
17,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,
19,Sabang,ID,81.93,scattered clouds,5.8933,95.3214,
22,Avarua,CK,84.25,few clouds,-21.2078,-159.7750,
24,Geraldton,AU,84.13,clear sky,-28.7667,114.6000,
25,Hilo,US,80.33,clear sky,19.7297,-155.0900,
29,Cabo Rojo,PR,78.67,broken clouds,18.0866,-67.1457,
45,Bathsheba,BB,77.61,few clouds,13.2167,-59.5167,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Atuona,PF,78.75,clear sky,-9.8000,-139.0333,Villa Enata
6,Luwuk,ID,78.87,overcast clouds,-0.9516,122.7875,Hotel Santika Luwuk
11,Rikitea,PF,77.72,light rain,-23.1203,-134.9692,People ThankYou
17,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
19,Sabang,ID,81.93,scattered clouds,5.8933,95.3214,Hotel Citra
22,Avarua,CK,84.25,few clouds,-21.2078,-159.7750,Paradise Inn
24,Geraldton,AU,84.13,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
25,Hilo,US,80.33,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Cabo Rojo,PR,78.67,broken clouds,18.0866,-67.1457,Hotel Perichi's
45,Bathsheba,BB,77.61,few clouds,13.2167,-59.5167,Atlantis Hotel

In [22]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 1 to 701
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 154 non-null    object
 1   Country              154 non-null    object
 2   Max Temp             154 non-null    float64
 3   Weather Description  154 non-null    object
 4   Lat                  154 non-null    float64
 5   Lng                  154 non-null    float64
 6   Hotel Name           154 non-null    object
dtypes: float64(3), object(4)
memory usage: 13.7+ KB

In [23]:
# 7. Drop the rows where there is no Hotel Name. 
# no null values, see above; if null values, execute clean_hotel_df = hotel_df.dropna()
clean_hotel_df = hotel_df
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Atuona,PF,78.75,clear sky,-9.8000,-139.0333,Villa Enata
6,Luwuk,ID,78.87,overcast clouds,-0.9516,122.7875,Hotel Santika Luwuk
11,Rikitea,PF,77.72,light rain,-23.1203,-134.9692,People ThankYou
17,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
19,Sabang,ID,81.93,scattered clouds,5.8933,95.3214,Hotel Citra
22,Avarua,CK,84.25,few clouds,-21.2078,-159.7750,Paradise Inn
24,Geraldton,AU,84.13,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
25,Hilo,US,80.33,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Cabo Rojo,PR,78.67,broken clouds,18.0866,-67.1457,Hotel Perichi's
45,Bathsheba,BB,77.61,few clouds,13.2167,-59.5167,Atlantis Hotel

In [31]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Vacation_search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]

figure_layout = {
    'width': '800px',
    'height': '350px',
    'border': '1px solid black',
    'padding': '1px'}
fig = gmaps.figure(layout=figure_layout, center=(30.0, 31.0), zoom_level=1.5)
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='350px', padding='1px', width='800px'))